header 
    position: fixed
    top: 0px
    width: 100%
    background-color: myWhiteColor
    z-index: 100

nav 
    display: flex
    justify-content: space-between
    padding: 50px 0
    align-items: center

.photo 
    width: 300px
    height: 40px

ul 
    display: flex
    justify-content: space-between
    flex-direction: row
    list-style-type: none
    margin: 0
    padding: 0
    li a
        font-size: 16px
        line-height: auto
        color: myBlackColor
        margin: 20px
        &:hover
            font-size: 16px
            line-height: auto
            margin: 20px
            color: myOrangeColor
            text-decoration: none

.hamburger
    display: none

@media screen and (max-width: 992px)
    ul 
        display: none
    .hamburger
        display: flex
    .facebook
        display: none
    #banner
        h1 
            font-size: 50px


// @media screen and (max-width: 500px)    
//     .tele
//         padding: 0 150px
        

    