section
    padding-top: 50px
    height: auto

#banner
    margin-top: 140px
    background-image: url(zdjecia/foto_banner.jpg)
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    h1
        color: myWhiteColor
        font-size: 72px
        font-weight: 700
        line-height: 85px
        text-align: center
        padding-top: 100px
        &::after
            content:""
            display: block
            background-color: myBlackColor
            width: 200px
            height: 1px
            margin: 50px auto
        
    .description
        color: myWhiteColor
        font-size: 24px
        font-weight: 100
        line-height: 37px
        text-align: center
        text-transform: uppercase
        margin-bottom: 80px

.firstbutton 
    display: flex
    justify-content: center
    margin-top: 50px
    padding-bottom: 100px

.guzik
        width: 196px
        height: 38px
        x: 859.98px
        y: 3503.99px
        border-color: myWhiteColor
        border-width: 1px
        border-radius: 19px
        background-color: myOrangeColor
        -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
        -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
        box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
        &:hover
            background-color: myBlackColor

.gettoknow
    color: myWhiteColor
    font-size: 16px
    line-height: auto

#products
    background-color: myWhiteColor

h2
    color: myBlackColor
    font-size: 36px
    line-height: auto
    font-weight: 700
    text-align: center
    &::after
        content: ""
        display: block
        background-color: myOrangeColor
        width: 90px
        height: 2px
        margin: 20px auto 40px

.icon
    // width: 250px
    // height: 250px
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    margin: 30px auto
    &:hover
        color: myOrangeColor
        
.icon2
    // width: 250px
    // height: 250px
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    margin: 30px auto
    &:hover
        color: myOrangeColor

.imgpicto
    display: flex
    justify-content: center

h3 
    text-transform: uppercase
    font-size: 24px
    line-height: auto
    text-align: center
    margin: 10px

.gummi
    text-align: center
    font-size: 16px
    line-height: 26px
    font-weight: 300

.everyday 
    margin-top: 60px
    font-size: 36px
    line-height: 62px
    font-weight: 300
    color: myOrangeColor
    text-align: center
.company
    font-size: 16px
    line-height: 37px
    color: myBlackColor
    text-align: center
    text-transform: uppercase

#banner2 
    position: relative
    padding-top: 0
    height: 500px
    iframe
        width: 100%
        height: 100%
    &::before
        content: ""
        position: absolute
        display: block
        background-color: myOrangeColor
        height: 20px
        width: 50%
    &::after
        content: ""
        position: absolute
        display: block
        background-color: myOrangeColor
        height: 20px
        width: 50%

#banner2::before
    top: 0
    right 0

#banner2:after
    bottom: 0
    left: 0

#contact
    background-color: myBlackColor

.rowtele
    display: flex
    justify-content: space-between
    @media( max-width: 576px )
        display: flex
        &:first-child 
            flex-direction: column

    .tele 
        padding: 50px 0
        @media (max-width: 576px)
            padding: 0 150px            

        .h5tele
            font-size: 24px
            line-height: auto
            font-weight: 700
            color: myWhiteColor
            margin-bottom: 20px
        address
            font-size: 12px
            line-height: 28px
            font-weight: 200
            color: myOrangeColor
    

.aim::before
    content: "";
    display: block;
    height: 140px; /* fixed header height*/
    margin: -140px 0 0; /* negative fixed header height */
