@import 'variables.styl'
@import 'main.styl'
@import 'header.styl'

body 
    font-family: 'Exo 2', sans-serif;


    #inspirationandadvice
        .inspiration-container
            .inspiration-row

                img
                    width: 100%

                @media( min-width: 992px )
                    display: flex

                    &:first-child 
                        flex-direction: row-reverse

                    > img, > .text
                        width: 50%
                    
                    
                &:hover
                    img
                        opacity: 0.6

                img
                    transition: all 0.4 ease 
                
                > .text
                    padding: 60px
                    background-color: myOrangeColor
   
                    .h4bold
                        font-size: 24px
                        line-height: auto
                        font-weight: 700

                    .gummibears
                        padding: 20px 0
                        font-size: 16px
                        line-height: 26px
                        font-weight: 300

                    .guzikinverted
                        border-color: myOrangeColor
                        background-color: myWhiteColor

                        &:hover
                            background-color: myBlackColor
                            
                        .gettoknowinverted
                            color: myOrangeColor
                            font-size: 16px
                            line-height: auto